#seller-page .container{

max-width: 1300px;
}
.user-header-wrapper {
    background-color: var(--text-blue);
}.user-header-wrapper .nav-link{
    color: white;
    font-size: 14px;
}.user-header-wrapper .user-profile-nav {
    display: flex;
    align-items: center;
}.user-header-wrapper .user-profile-nav-inner p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}.user-header-wrapper .user-profile-nav-inner span{
    font-size: 12px;
    color: white;
    
}.user-header-wrapper .user-profile-nav .bi-person-circle{
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.user-header-wrapper .navbar-nav button{
    width: 230px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}.user-header-wrapper .user-profile-nav-inner{
    padding: 0 10px;
}.user-profile-nav .bi-chevron-down{
    font-size: 9px;
    color: white;
}.user-header-wrapper .navbar-nav .user-nav-icons a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
} .user-header-wrapper .nav-left .dropdown-toggle::after{
    display: none;
}
.user-header-wrapper  #open-sidebar-menu .bi-justify{
font-size: 30px;
color: white;
margin-left:  10px;
display: none;

}
 
@media (max-width: 1270.98px) {
   .user-header-wrapper .navbar-collapse {
        display: none !important;
    }
    .user-header-wrapper  #open-sidebar-menu .bi-justify{
display: block;

}
}
/* user-sidebar-menu-wrapper */
#user-sidebar-menu-wrapper {
    background-color: var(--text-blue);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0px 10px 0 0px;
   color: white;
    overflow: scroll;
    display: none;
}.user-sidebar-menu-inner{
    position: relative;
     padding-top: 30px;
}#user-sidebar-menu-wrapper .navbar-brand{
display: flex;
justify-content: center;
}
.siderbar-collapse-menu{
    list-style: none;
    margin: 0;
    padding: 0;
   

}
#user-sidebar-menu-wrapper .nav-link{
color: white;
}.siderbar-collapse-menu .nav-link{
   font-weight: 600;
}#user-sidebar-menu-wrapper #close-icon-sidebar{
    position: absolute;
    right: 10px;
    top: 20px;
}#user-sidebar-menu-wrapper #close-icon-sidebar i{
    font-size: 20px;
    color: white;
}#user-sidebar-menu-wrapper .user-profile-nav .bi-person-circle{
font-size: 50px;
}#user-sidebar-menu-wrapper .user-profile-nav{
    display: flex;
    justify-content: center;
}#user-sidebar-menu-wrapper .user-detail-nav p{
font-size: 12px;
}
#user-sidebar-menu-wrapper .user-detail-nav span{
font-size: 13px;
margin-right: 5px;
}#user-sidebar-menu-wrapper .user-nav-icons{
    display: flex;
    justify-content: center;

}#user-sidebar-menu-wrapper .user-nav-icons i{
margin:0 20px;
color: white;
}
/* user-sidebar-menu-wrapper */
/* stats section */
.user-stats-wrapper{
    background-color: #E5E5E5;
    padding: 30px 0;
}
.user-stats-content-inner{
   padding: 20px;
   display: flex;
   align-items: center;
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
   justify-content: space-between;
   position: relative;
}.user-stat-img {
    width: 50px;
}
.user-stat-img img{
width: 100%;
}
.user-stats-content-inner .user-stats-text{
    margin-right: 20px;
}.user-stats-content-inner .user-stats-text span{
    font-size: 14px;
}.user-stats-content-inner .new-orders-stat::after ,.user-stats-content-inner .urgent-stat::after,.user-stats-content-inner .breaches-stat::after , .user-stats-content-inner .Reattempts-stat::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%,0);
    height: 3px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
} .user-stats-inner-wrapper .new-orders-stat h1{
    color: var(--brand-green);
}
.user-stats-content-inner .new-orders-stat::after{
    background-color: var(--brand-green);
}
 .user-stats-inner-wrapper .urgent-stat h1 {
    color: #E7478A;
}
.user-stats-content-inner .urgent-stat::after{
    background-color: #E7478A;
}
 .user-stats-inner-wrapper .breaches-stat h1 {
    color: #2B9DC1;
}
.user-stats-content-inner .breaches-stat::after{
   background: #2B9DC1;

}
 .user-stats-inner-wrapper .Reattempts-stat h1 {
    color: #EC7C03;
}
.user-stats-content-inner .Reattempts-stat::after{
    background: #EC7C03;

}
.userful-link-wrapper , .returns-spf-wrapper, .statistic-wrapper ,.user-payments-wrapper {
       padding: 20px;
 
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.userful-link-wrapper h5 ,.returns-spf-wrapper h5 , .statistic-wrapper h5 , .user-payments-wrapper h5{
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
}.userful-link-wrapper h5::after , .returns-spf-wrapper h5::after ,.statistic-wrapper h5::after ,.statistic-wrapper .statistic-inner-wrapper::after, .user-payments-wrapper h5::after , .user-payments-inner .payment-divider::after{
    content: '';
     background-color: #E5E5E5;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 100%;
    transform: translate(-50%,0);
    height: 1px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.userful-link-wrapper i{
    color: var(--brand-green);
    font-size: 15px;
}.returns-spf-detail-wrapper .col-6 p ,.user-payments-inner .row .col-md-6 .row .col-6 p{
margin: 0 0 0 auto;
font-size: 14px;

}.returns-spf-detail-wrapper .col-6 span, .userful-link-wrapper span ,.user-payments-inner .row .col-md-6 .row .col-6 p{
    font-size: 14px;
}.returns-spf-wrapper , .statistic-wrapper ,.user-payments-wrapper{
    margin-top: 30px;
}
.returns-spf-detail-wrapper .row{
display: flex;
justify-content: space-between;
}.statistic-wrapper .statistic-image{
    margin-right: 20px;
}
.statistic-wrapper .statistic-inner-wrapper h4{
     font-size: 12px;
     margin-top: 30px;
}.statistic-wrapper .statistic-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
}.statistic-wrapper .statistic-text p{
    font-size: 12px;
    margin: 0;
}.statistic-wrapper .statistic-inner-wrapper{
    position: relative;
}.user-payments-inner .payment-divider::after{
bottom: unset;
top: 0;
    left: unset;
    right: 0;
    width: 2px;
     height: 30px;
}.user-payments-wrapper .payment-date{
    font-size: 13px!important;
}
@media (max-width: 766.98px) {
    .user-stats-content-inner{
        margin-bottom: 20px;
    }
}
/* stats section */
/* background: #E7478A; */
