.bgc-brand-light-blue{
    background: #164F84;

}
.bgc-brand-orange{
    background-color: #EC7C03;
}.bgc-brand-skyblue{
background-color: rgb(42, 137, 192);
}
.bgc-dark-blue{
   background: #022444;


}
.bgc-brand-green{
    background-color: var(--brand-green);
}

#seller-page .container{

max-width: 1300px;
}
.user-header-wrapper {
    background-color: var(--text-blue);
}.user-header-wrapper .nav-link{
    color: white;
    font-size: 14px;
}.user-header-wrapper .user-profile-nav {
    display: flex;
    align-items: center;
}.user-header-wrapper .user-profile-nav-inner p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}.user-header-wrapper .user-profile-nav-inner span{
    font-size: 12px;
    color: white;
    
}.user-header-wrapper .user-profile-nav .bi-person-circle{
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.user-header-wrapper .navbar-nav button{
    width: 230px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}.user-header-wrapper .user-profile-nav-inner{
    padding: 0 10px;
}.user-profile-nav .bi-chevron-down{
    font-size: 9px;
    color: white;
}.user-header-wrapper .navbar-nav .user-nav-icons a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
} .user-header-wrapper .nav-left .dropdown-toggle::after{
    display: none;
}
.user-header-wrapper  #open-sidebar-menu .bi-justify{
font-size: 30px;
color: white;
margin-left:  10px;
display: none;

}
 
@media (max-width: 1270.98px) {
   .user-header-wrapper .navbar-collapse {
        display: none !important;
    }
    .user-header-wrapper  #open-sidebar-menu .bi-justify{
display: block;

}
}
/* user-sidebar-menu-wrapper */
#user-sidebar-menu-wrapper {
    background-color: var(--text-blue);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0px 10px 0 0px;
   color: white;
    overflow: scroll;
    display: none;
}.user-sidebar-menu-inner{
    position: relative;
     padding-top: 30px;
}#user-sidebar-menu-wrapper .navbar-brand{
display: flex;
justify-content: center;
}
.siderbar-collapse-menu{
    list-style: none;
    margin: 0;
    padding: 0;
   

}
#user-sidebar-menu-wrapper .nav-link{
color: white;
}.siderbar-collapse-menu .nav-link{
   font-weight: 600;
}#user-sidebar-menu-wrapper #close-icon-sidebar{
    position: absolute;
    right: 10px;
    top: 20px;
}#user-sidebar-menu-wrapper #close-icon-sidebar i{
    font-size: 20px;
    color: white;
}#user-sidebar-menu-wrapper .user-profile-nav .bi-person-circle{
font-size: 50px;
}#user-sidebar-menu-wrapper .user-profile-nav{
    display: flex;
    justify-content: center;
}#user-sidebar-menu-wrapper .user-detail-nav p{
font-size: 12px;
}
#user-sidebar-menu-wrapper .user-detail-nav span{
font-size: 13px;
margin-right: 5px;
}#user-sidebar-menu-wrapper .user-nav-icons{
    display: flex;
    justify-content: center;

}#user-sidebar-menu-wrapper .user-nav-icons i{
margin:0 20px;
color: white;
}
/* user-sidebar-menu-wrapper */
/* stats section */
.user-stats-wrapper {
    background-color: #E5E5E5;
    padding: 30px 0;
}
.user-stats-content-inner{
   padding: 20px;
   display: flex;
   align-items: center;
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
   justify-content: space-between;
   position: relative;
}.user-stat-img {
    width: 50px;
}
.user-stat-img img{
width: 100%;
}
.user-stats-content-inner .user-stats-text{
    margin-right: 20px;
}.user-stats-content-inner .user-stats-text span{
    font-size: 14px;
}.user-stats-content-inner .new-orders-stat::after ,.user-stats-content-inner .urgent-stat::after,.user-stats-content-inner .breaches-stat::after , .user-stats-content-inner .Reattempts-stat::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%,0);
    height: 3px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
} .user-stats-inner-wrapper .new-orders-stat h1{
    color: var(--brand-green);
}
.user-stats-content-inner .new-orders-stat::after{
    background-color: var(--brand-green);
}
 .user-stats-inner-wrapper .urgent-stat h1 {
    color: #E7478A;
}
.user-stats-content-inner .urgent-stat::after{
    background-color: #E7478A;
}
 .user-stats-inner-wrapper .breaches-stat h1 {
    color: #2B9DC1;
}
.user-stats-content-inner .breaches-stat::after{
   background: #2B9DC1;

}
 .user-stats-inner-wrapper .Reattempts-stat h1 {
    color: #EC7C03;
}
.user-stats-content-inner .Reattempts-stat::after{
    background: #EC7C03;

}
.userful-link-wrapper , .returns-spf-wrapper, .statistic-wrapper ,.user-payments-wrapper {
       padding: 20px;
 
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.userful-link-wrapper h5 ,.returns-spf-wrapper h5 , .statistic-wrapper h5 , .user-payments-wrapper h5{
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
}.userful-link-wrapper h5::after , .returns-spf-wrapper h5::after ,.statistic-wrapper h5::after ,.statistic-wrapper .statistic-inner-wrapper::after, .user-payments-wrapper h5::after , .user-payments-inner .payment-divider::after{
    content: '';
     background-color: #E5E5E5;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 100%;
    transform: translate(-50%,0);
    height: 1px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.userful-link-wrapper i{
    color: var(--brand-green);
    font-size: 15px;
}.returns-spf-detail-wrapper .col-6 p ,.user-payments-inner .row .col-md-6 .row .col-6 p{
margin: 0 0 0 auto;
font-size: 14px;

}.returns-spf-detail-wrapper .col-6 span, .userful-link-wrapper span ,.user-payments-inner .row .col-md-6 .row .col-6 p{
    font-size: 14px;
}.returns-spf-wrapper , .statistic-wrapper ,.user-payments-wrapper{
    margin-top: 30px;
}
.returns-spf-detail-wrapper .row{
display: flex;
justify-content: space-between;
}.statistic-wrapper .statistic-image{
    margin-right: 20px;
}
.statistic-wrapper .statistic-inner-wrapper h4{
     font-size: 12px;
     margin-top: 30px;
}.statistic-wrapper .statistic-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
}.statistic-wrapper .statistic-text p{
    font-size: 12px;
    margin: 0;
}.statistic-wrapper .statistic-inner-wrapper{
    position: relative;
}.user-payments-inner .payment-divider::after{
bottom: unset;
top: 0;
    left: unset;
    right: 0;
    width: 2px;
     height: 30px;
}.user-payments-wrapper .payment-date{
    font-size: 13px!important;
}
@media (max-width: 766.98px) {
    .user-stats-content-inner{
        margin-bottom: 20px;
    }
}
/* stats section */

/* Listing Management */
#user-bottom-header .user-bottom-left nav .breadcrumb-item a{
    font-size: 14px;
    color: rgb(168, 168, 168);
    
} .user-bottom-left nav .breadcrumb-item.active a{
color: rgb(51, 51, 51);
font-weight: 500;
}
#user-bottom-header .user-bottom-left nav{
    --bs-breadcrumb-divider: '>';
    
}#user-bottom-header .user-bottom-inner-wrapper{
    display: flex;

}#user-bottom-header{
   background: #F9FFF0;

}#user-bottom-header .user-bottom-left h5{
    color: #EC7C03;
    font-weight: 600;
}.user-listing-form .button-icon-bottom-left .btn{
    background-color: #EC7C03;
    color: white;
}
.user-listing-form .button-icon-bottom-right .btn{
    background-color:var(--brand-green);
    color: white;
}#user-bottom-header .user-bottom-inner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}#user-bottom-header{
    padding-top: 20px;
}.product-listing-stat-img{
    width: 100%;
    height: 80px;
   
    position: relative;
}
.product-listing-stat-img img{
width: 100%;
}.product-listing-stat-text{
    position: absolute;
    top: 50%;
    left:10%;
    transform: translate(0 , -50%);
    -webkit-transform: translate(0 , -50%);
    -moz-transform: translate(0 , -50%);
    -ms-transform: translate(0 , -50%);
    -o-transform: translate(0 , -50%);
}.product-listing-stat-text p{
    font-size: 18px;
    margin-bottom: 0;
    color: white;
}.product-listing-stat-text span{
    font-size: 13px;
    color: white;
}.product-listing-stat-innner{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
     margin: 30px 0;
}
#product-listing-stat-wrapper ,#listing-top-action ,.user-products-list-wrapper{
    background-color:#F2F2F2;

}.listing-top-action-right .form-floating>.form-control, .listing-top-action-right .form-floating>.form-select ,.listing-top-action-left-inner .form-floating>.form-control, .listing-top-action-left-inner .form-floating>.form-select {
height: calc(2.5rem + 2px);
}
.listing-top-action-right .form-floating>.form-select ,.listing-top-action-left-inner .form-floating>.form-select{
        padding-top: 0.625rem;
    
}#listing-top-action .listing-top-action-right-inner {
display: flex;
    align-items: center;
    justify-content: end;
}
#listing-top-action .listing-top-action-left-inner{
display: flex;
    align-items: center;
    justify-content: start;
}
#listing-top-action .listing-top-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}.user-products-list-inner-wrapper{
overflow-x: scroll;

 width: 100%;
}
.user-products-list-inner-wrapper::-webkit-scrollbar {
  width: 2px;
 
}
 
.user-products-list-inner-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(175, 175, 175, 0.3);
 
}
 
.user-products-list-inner-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  outline: 1px solid rgb(172, 172, 172);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.user-products-list-inner-wrapper table{
    width: 100%;
  
   
}

.user-products-list-inner-wrapper table thead tr td{
    background-color: white;
   padding: 20px 10px;
 
  font-size: 15px;  
  font-weight: 600;
}
.user-products-list-inner-wrapper table tbody tr td{
    background-color: white;
   padding: 10px 10px;
  
  font-size: 14px;  
  font-weight: 500;
  margin-top: 20px;
}.user-products-list-inner-wrapper table tbody tr td a{
    font-size: 20px;
    color: black;

}.user-products-list-inner-wrapper .list-product-deactive{
    color: #EC7C03;
    font-size: 14px;
}.user-products-list-inner-wrapper .listing-product-detail{
    display: flex;
    align-items: center;

}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-image{
    width: 60PX;
    margin-right: 5px;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-image img{
    width: 100%;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text span{
    font-size: 14px;
     font-weight: 600;
     
}
.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text h5{
font-size: 12px;
font-weight: 500;
margin-bottom: 2px;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text p{
    font-size: 9x;
    font-weight: 500;
    
}

@media (max-width: 991.98px) {
   .user-bottom-right .input-group input{
       font-size: 12px;
       width: 120px;
   }#user-bottom-header .user-bottom-inner-wrapper{
       flex-direction: column;
       justify-content: start;
       align-items: flex-start;
   }#listing-top-action .listing-top-action-inner{
        flex-direction: column;
       justify-content: start;
       align-items: flex-start;
   }.listing-top-action-right .mx-4{
margin: 0!important;

   }.listing-top-action-left-inner .mx-4{
       margin-left: 2px!important;
       margin-right: 2px!important;
   }.listing-top-action-left-inner  .btn, .listing-top-action-right-inner .btn{
       font-size: 13px;
      
       padding-top: 10px;
       padding-bottom: 10px;

   }
   .listing-top-action-right-inner{
       margin-top: 10px;
   }
}
@media (max-width: 575.98px) {
    #listing-top-action .listing-top-action-right-inner{
        justify-content: start;
        
    }
    #listing-top-action .listing-top-action-left-inner{
        flex-wrap: wrap;
        
    }
     #listing-top-action .listing-top-action-right-inner .form-select ,#listing-top-action .listing-top-action-left-inner .form-select{
         font-size: 13px;
         margin: 5px 0;
     }
  
   #product-listing-stat-wrapper .product-listing-stat-innner{
       margin: 30px;
   }
   #listing-top-action .listing-top-action-inner{
     display: inline;
   }
   .listing-top-action-left-inner  .btn, .listing-top-action-right-inner .btn{
     
 font-size: 12px;
 margin: 5px 0;
       
   }
    .user-bottom-right .input-group input{
       font-size: 12px;
       width: 120px;
       padding: 10px;
   }
}@media (max-width: 460.98px){
    .user-bottom-right .button-icon-bottom-right{
       margin-top: 20px;
   }
}
/* Listing Management */

/* add new list */
.new-product-list-menu li a{
color: black;
text-decoration: none;
}
.new-product-list-menu  li{
    margin-bottom: 5px;
}
.new-product-list-menu .list-group{
    position: relative;
}
.select-new-product-category .btn{
    background-color: orange;
    color: white;
}.select-new-product-category .search-box{
    width: 40%;
}
.new-product-list-menu .active-list::before{ 
    content: ""; display: block; height: 100%; width: 4px; background-color: #EC7C03; position: absolute; border-radius: 0px 0px 2px 2px ; -webkit-border-radius: 0px 0px 2px 2px ; -moz-border-radius: 0px 0px 2px 2px ; -ms-border-radius: 0px 0px 2px 2px ; -o-border-radius: 0px 0px 2px 2px ;
    top: 0;
    left: 0;
}#new-product-list-wrapper{
    background-color:#F2F2F2;
    padding: 30px 0;
    position: relative;
    z-index: -1;
}#new-product-list-wrapper .select-new-product-category input{
    width: 20% !important;
}

.main-category-inner , .subcategory-wrapper-inner,.product-list-inner {
    width: 150px;
    height: 600px;
    background-color: white;
    padding:  0px;
    overflow-y: scroll;
    margin-right: 15px;
}#product-main-category .nav-pills .nav-link.active, #product-main-category .nav-pills .show>.nav-link{
    background-color: rgb(242, 253, 247) !important;
    color: black !important;
    width: 100%;
} #product-main-category .nav-pills .nav-link {
    color: black;
    font-weight: 400;
    text-align: left;
    
}.product-list-inner .nav-link{
    width: 100%;
}
.category-sub-content-wrapper .category-sub-rules{
  padding: 15px;
   background-color: #fff;  
}
.category-sub-rules .category-sub-rules-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.category-sub-rules h5{
    font-size: 16px;
    
}
.category-sub-rules .allowed-product{
    color: var(--brand-green);
    font-weight: 600;
}
.category-sub-rules span{
     font-size: 13px;
    
}

.category-sub-rules .not-allowed-product{
    color: red;
    font-weight: 600;
}
.category-sub-rules .category-sub-rule-images{
    display: flex;
    align-items: flex-start;
}
.category-sub-rule-images .category-sub-rule-image-left p ,.category-sub-rule-images .category-sub-rule-image-right p{
    font-size: 13px;
    text-align: center;
}.category-sub-rule-images .category-sub-rule-image-left  ,.category-sub-rule-images .category-sub-rule-image-right{
    margin: 0 20px;
    width: 70px;

}.category-sub-rule-images .category-sub-rule-image-left img  ,.category-sub-rule-images .category-sub-rule-image-right img{
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
}.new-product-list-btn{
display: flex;
justify-content: center;
background-color: #EC7C03;
width: 90px;margin: 0 auto;

}.new-product-list-btn a{
    color: white;
    text-decoration: none;
}


/* tabs */


@media (max-width: 575.98px){
   .main-category-inner , .subcategory-wrapper-inner,.product-list-inner{
       width: 100px;
       margin-right: 5px;
   }
   #product-main-category .nav-pills .nav-link {
       padding: 10px 5px;
       font-size: 12px;
   } 
    
}
/* tabs */





@media (max-width: 1300.98px){
    #new-product-list-wrapper .row .col-2{
        display: none;
    }
     #new-product-list-wrapper .row .col-10{
         width: 100%;
     }
}
@media (max-width: 992.98px){
   
   #new-product-list-wrapper  .category-sub-rules{
        margin: 20px 0;
     }
}
@media (max-width: 575.98px){
   
  #select-new-product-category-main-wrapper ,#select-new-product-category-sub-wrapper{
    position: relative;
    
    background-color: white;
    width: 120px;
    height: 530px;
    margin-right: 20px;
}
.select-new-product-category .search-box{
    width: 100%;
}

}
@media (max-width: 400.98px){
    #select-new-product-category-main-wrapper #select-new-product-category-sub-wrapper {
    
    right: -180px;
   
}

#select-new-product-category-main-wrapper .select-new-product-category-sub #category-sub-inner-wrapper {
   
   
    left: -160px;
   
  
    width: 150px;
   
    
}
}
/* add new list */


/* my listing page */
.mylisting-method-wrap{
background-color:#F2F2F2;
padding: 20px 0;
}
.mylisting-search-wrapper .search-box .btn{
    background-color: #EC7C03;
    color: white;
}
.mylisting-method-wrap .btn.active{
    border-bottom: 2px solid #EC7C03 ;
}
#mylisting-types-search-wrapper{
background-color:#F2F2F2;
    padding: 30px 0;
}
#mylisting-top-action{
    background-color:#F2F2F2;
}
.mylisting-types-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    
}.mylisting-types-wrapper .mylisting-types-left h5 ,.mylisting-search-wrapper h5{
font-size: 17px;
}.mylisting-types-wrapper .mylisting-types-left p{
    font-size: 15px;
}.mylisting-types-wrapper .mylisting-types-left p a{
color: var(--brand-green);
text-decoration: none;
}.mylisting-type-right .new-listing{
    background-color: var(--brand-green);
    color: white;
}.mylisting-type-right .bulk-listing{
    background-color: transparent;
    border: 1px solid var(--brand-green);
    margin-top: 20px;
}.mylisting-type-right{
   
    margin-left: 40px;

}.mylisting-search-wrapper{
    background-color: white;
    padding: 25px;
}


#mylisting-top-action .form-floating>.form-control, #mylisting-top-action .form-floating>.form-select {
height: calc(2.5rem + 2px);

}
#mylisting-top-action  .form-select{
    padding: 0px 10px;
}
#mylisting-top-action .col-md-2, #mylisting-top-action .col-lg-2,#mylisting-top-action .col-md-4{
    padding: 10px ;
}




@media (max-width: 992.98px){
.mylisting-search-wrapper{
    margin-top: 20px;
}
}

@media (max-width: 575.98px){
    .mylisting-types-wrapper{
        flex-direction: column;
    }.mylisting-type-right{
   
    margin-left: 0px;

}
.mylisting-type-right .new-listing,.mylisting-type-right .bulk-listing{
    font-size: 12px;
    margin-top: 0;
}
}

.mylisting-method-wrap .btn{
background-color: transparent;
}

#mylisting-top-action .col-md-2 ,#mylisting-top-action .col-md-4  {
padding-top: 10px;
padding-bottom: 10px;
width: fit-content;

}


/* my listing page */
/* SELECT BRAND PAGE */
.newlisting-select-brand-wrapper-searchbox ,.newlisting-select-brand-right{
    padding: 30px;
    background-color: white;
} .newlisting-select-brand-wrapper-searchbox .button-icon-bottom-left .btn{
    background-color: #EC7C03;
    color: white;
}
.newlisting-select-brand-wrapper-searchbox p{
    text-align: center;
    margin-top: 20px;
}.newlisting-select-brand-wrapper-searchbox h5{
text-align: center;
}.newlisting-select-brand-wrapper-searchbox .brand-approved ,.newlisting-select-brand-right .brand-approved{
    display: flex;
    align-items: center;
    justify-content: center;
}.newlisting-select-brand-wrapper-searchbox .brand-approved .btn{
    background-color: rgb(249, 255, 255);
    border-color: rgb(241, 241, 241);
    margin: 0 5px;
}.new-product-list-menu .list-group-item  .bi-check-lg{
color: var(--brand-green);
margin-left: 30px;
}.newlisting-select-brand-right .mark-img{
    width: 30px;
}.newlisting-select-brand-right .mark-img img{
    width: 100%;
    margin: 0 auto;
}.newlisting-select-brand-right  .newlisting-select-brand-box-img{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}.newlisting-select-brand-right  p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}.newlisting-select-brand-right .btn{
    background-color: #EC7C03;
    color:white;
}
@media (max-width: 420.98px){
.newlisting-select-brand-wrapper-searchbox ,.newlisting-select-brand-right{
    padding: 30px 10px;
 
} 
.newlisting-select-brand-wrapper-searchbox .button-icon-bottom-left .btn ,.newlisting-select-brand-wrapper-searchbox .brand-approved .btn{
   font-size: 13px;
}.newlisting-select-brand-wrapper-searchbox input{
      font-size: 13px;
}

}

/* SELECT BRAND PAGE */
/* select product info */


#newlisting-selectproductinfo-image-wrapper{
    display: grid;
    place-items: center;
    height: 390px;
    margin-bottom: 8px;
    background-color: white;
}.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header h5{
    font-size: 17px;
}.newlisting-selectproductinfo-detail-inner{
    padding: 20px;
     background-color: white;
}
.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header a{
    font-size: 14px;
}.newlisting-selectproductinfo-detail-inner .row .col-6{
    font-size: 15px;
    margin-top: 5px;
    color: rgb(189, 189, 189);
}.newlist-selectproduct-info-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}.newlist-selectproduct-info-btn .btn{
background-color: white;
margin: 5px;
width: 150px;
border: 1px solid rgb(221, 221, 221);
}.newlist-selectproduct-info-btn .bgc-brand-orange{
    color: white;
    background-color: #EC7C03;
}
@media (max-width: 490.98px){
.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header h5{
    font-size: 10px;
}
.newlisting-selectproductinfo-detail-inner{
    padding: 20px 8px;
     background-color: white;
}.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header a{
    font-size: 12px;
}
.newlisting-selectproductinfo-detail-inner .newlisting-selectproductinfo-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.newlisting-selectproductinfo-detail-inner .row .col-6{
    font-size: 10px;
    
}
.newlist-selectproduct-info-btn .btn{
font-size: 13px;
}
}
/* select product info */

/* select product info image */

.newlisting-selectproductinfo-overlay-inner{
     position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #544D5E;
    opacity: 0.8;
    z-index: 99;
   
}

.newlisting-selectproductinfo-overlay-content{
    position:absolute;
    width: 70%;
    padding: 30px;
    opacity: unset;
    top:5%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: white;
    z-index: 9999;
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
}.newlisting-selectproductinfo-content-image .card{
    border: unset;

}.newlisting-selectproductinfo-content-image .card .col-md-4{
    position: relative;
}
.newlisting-selectproductinfo-content-image .delete-icon{
position: absolute;
bottom: 30px;
right: 10px;
width: 40px;

}.newlisting-selectproductinfo-content-image .delete-icon i{
  padding: 10px;
  background-color: rgb(240, 240, 240);
  color: rgb(255, 46, 46);
}.newlisting-selectproductinfo-content-image h4{
    font-size: 22px;
    color: #EC7C03;
}.newlisting-selectproductinfo-content-image h5{
font-size: 15px;
}.newlisting-selectproductinfo-content-image p{
 font-size: 12px;   
}.newlisting-selectproductinfo-all-images .newlisting-selectproductinfo-images-left-inner{
    width: 90px;
    position: relative;
} .newlisting-selectproductinfo-images-left-inner img{
    width: 100%;
}.newlisting-selectproductinfo-all-images p{
    font-size: 11px;
    text-align: center;
    
}.newlisting-selectproductinfo-all-images  .newlisting-selectproductinfo-images-left{
    display: flex;
    align-items: flex-start;
}.newlisting-selectproductinfo-all-images .col-md-6{
    padding: 0!important;
}.newlisting-selectproductinfo-all-images .newlisting-selectproductinfo-images-left-inner .newlisting-selectproductinfo-images-left-overlay{
position: absolute;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
right: 0;
left: 0;
background-color: black;
opacity: 0.7;
z-index: 9;
}.newlisting-selectproductinfo-images-left-overlay i{
    color: white;
    position: absolute;
    font-size: 20px;font-weight: 800;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
@media (max-width: 992.98px){
.newlisting-selectproductinfo-all-images .newlisting-selectproductinfo-images-left-inner{
    width: 70px;
   
}
.newlisting-selectproductinfo-overlay-content{
width: 80%;
padding: 10px;
}
.newlisting-selectproductinfo-all-images .col-md-6{
    padding: 0 20px!important;
}
}

@media (max-width: 575.98px){


.newlisting-selectproductinfo-overlay-content .card-body{
    padding: 10px;
}
}

/* select product info image */


/* select product selling information */
.newlisting-selectproductinfo-selling-info-wrapper {
    padding: 20px 0;
}
.newlisting-selectproductinfo-selling-info-wrapper  .row .col-md-6{
    position: relative;
    margin-top: 30px;
}.newlisting-selectproductinfo-selling-info-wrapper h4{
    font-size: 25px;
    text-align: center;
    color: #EC7C03;
}
.newlisting-selectproductinfo-selling-info-wrapper  .row .col-md-6:first-child::after{
content: "";
display: block;
width: 1px;
height: 100%;
position: absolute;
top: 0;
right: 0;
background-color: rgb(232, 232, 232);
}.newlisting-selectproductinfo-selling-info-wrapper .selling-info{
    padding: 0 20px 0 20px;
}.newlisting-selectproductinfo-selling-info-wrapper .selling-info h5{
   font-size: 15px;
   font-weight: 600;
   margin-bottom: 0;
}.newlisting-selectproductinfo-selling-info-wrapper .selling-info .form-label{
    font-size: 13px;
    
    color: #b5b5b5;
}
@media (max-width: 490.98px){
  .newlisting-selectproductinfo-selling-info-wrapper h4{
    font-size: 20px;
    text-align: center;
    color: #EC7C03;
}  
}
/* select product selling information */