.bgc-brand-light-blue{
    background: #164F84;

}
.bgc-brand-orange{
    background-color: #EC7C03;
}.bgc-brand-skyblue{
background-color: rgb(42, 137, 192);
}
.bgc-dark-blue{
   background: #022444;


}
.bgc-brand-green{
    background-color: var(--brand-green);
}

#seller-page .container{

max-width: 1300px;
}
.user-header-wrapper {
    background-color: var(--text-blue);
}.user-header-wrapper .nav-link{
    color: white;
    font-size: 14px;
}.user-header-wrapper .user-profile-nav {
    display: flex;
    align-items: center;
}.user-header-wrapper .user-profile-nav-inner p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}.user-header-wrapper .user-profile-nav-inner span{
    font-size: 12px;
    color: white;
    
}.user-header-wrapper .user-profile-nav .bi-person-circle{
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.user-header-wrapper .navbar-nav button{
    width: 230px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}.user-header-wrapper .user-profile-nav-inner{
    padding: 0 10px;
}.user-profile-nav .bi-chevron-down{
    font-size: 9px;
    color: white;
}.user-header-wrapper .navbar-nav .user-nav-icons a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
} .user-header-wrapper .nav-left .dropdown-toggle::after{
    display: none;
}
.user-header-wrapper  #open-sidebar-menu .bi-justify{
font-size: 30px;
color: white;
margin-left:  10px;
display: none;

}
 
@media (max-width: 1270.98px) {
   .user-header-wrapper .navbar-collapse {
        display: none !important;
    }
    .user-header-wrapper  #open-sidebar-menu .bi-justify{
display: block;

}
}
/* user-sidebar-menu-wrapper */
#user-sidebar-menu-wrapper {
    background-color: var(--text-blue);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0px 10px 0 0px;
   color: white;
    overflow: scroll;
    display: none;
}.user-sidebar-menu-inner{
    position: relative;
     padding-top: 30px;
}#user-sidebar-menu-wrapper .navbar-brand{
display: flex;
justify-content: center;
}
.siderbar-collapse-menu{
    list-style: none;
    margin: 0;
    padding: 0;
   

}
#user-sidebar-menu-wrapper .nav-link{
color: white;
}.siderbar-collapse-menu .nav-link{
   font-weight: 600;
}#user-sidebar-menu-wrapper #close-icon-sidebar{
    position: absolute;
    right: 10px;
    top: 20px;
}#user-sidebar-menu-wrapper #close-icon-sidebar i{
    font-size: 20px;
    color: white;
}#user-sidebar-menu-wrapper .user-profile-nav .bi-person-circle{
font-size: 50px;
}#user-sidebar-menu-wrapper .user-profile-nav{
    display: flex;
    justify-content: center;
}#user-sidebar-menu-wrapper .user-detail-nav p{
font-size: 12px;
}
#user-sidebar-menu-wrapper .user-detail-nav span{
font-size: 13px;
margin-right: 5px;
}#user-sidebar-menu-wrapper .user-nav-icons{
    display: flex;
    justify-content: center;

}#user-sidebar-menu-wrapper .user-nav-icons i{
margin:0 20px;
color: white;
}
/* user-sidebar-menu-wrapper */
/* stats section */
.user-stats-wrapper {
    background-color: #E5E5E5;
    padding: 30px 0;
}
.user-stats-content-inner{
   padding: 20px;
   display: flex;
   align-items: center;
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
   justify-content: space-between;
   position: relative;
}.user-stat-img {
    width: 50px;
}
.user-stat-img img{
width: 100%;
}
.user-stats-content-inner .user-stats-text{
    margin-right: 20px;
}.user-stats-content-inner .user-stats-text span{
    font-size: 14px;
}.user-stats-content-inner .new-orders-stat::after ,.user-stats-content-inner .urgent-stat::after,.user-stats-content-inner .breaches-stat::after , .user-stats-content-inner .Reattempts-stat::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%,0);
    height: 3px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
} .user-stats-inner-wrapper .new-orders-stat h1{
    color: var(--brand-green);
}
.user-stats-content-inner .new-orders-stat::after{
    background-color: var(--brand-green);
}
 .user-stats-inner-wrapper .urgent-stat h1 {
    color: #E7478A;
}
.user-stats-content-inner .urgent-stat::after{
    background-color: #E7478A;
}
 .user-stats-inner-wrapper .breaches-stat h1 {
    color: #2B9DC1;
}
.user-stats-content-inner .breaches-stat::after{
   background: #2B9DC1;

}
 .user-stats-inner-wrapper .Reattempts-stat h1 {
    color: #EC7C03;
}
.user-stats-content-inner .Reattempts-stat::after{
    background: #EC7C03;

}
.userful-link-wrapper , .returns-spf-wrapper, .statistic-wrapper ,.user-payments-wrapper {
       padding: 20px;
 
   background-color: white;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.userful-link-wrapper h5 ,.returns-spf-wrapper h5 , .statistic-wrapper h5 , .user-payments-wrapper h5{
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
}.userful-link-wrapper h5::after , .returns-spf-wrapper h5::after ,.statistic-wrapper h5::after ,.statistic-wrapper .statistic-inner-wrapper::after, .user-payments-wrapper h5::after , .user-payments-inner .payment-divider::after{
    content: '';
     background-color: #E5E5E5;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 100%;
    transform: translate(-50%,0);
    height: 1px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.userful-link-wrapper i{
    color: var(--brand-green);
    font-size: 15px;
}.returns-spf-detail-wrapper .col-6 p ,.user-payments-inner .row .col-md-6 .row .col-6 p{
margin: 0 0 0 auto;
font-size: 14px;

}.returns-spf-detail-wrapper .col-6 span, .userful-link-wrapper span ,.user-payments-inner .row .col-md-6 .row .col-6 p{
    font-size: 14px;
}.returns-spf-wrapper , .statistic-wrapper ,.user-payments-wrapper{
    margin-top: 30px;
}
.returns-spf-detail-wrapper .row{
display: flex;
justify-content: space-between;
}.statistic-wrapper .statistic-image{
    margin-right: 20px;
}
.statistic-wrapper .statistic-inner-wrapper h4{
     font-size: 12px;
     margin-top: 30px;
}.statistic-wrapper .statistic-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
}.statistic-wrapper .statistic-text p{
    font-size: 12px;
    margin: 0;
}.statistic-wrapper .statistic-inner-wrapper{
    position: relative;
}.user-payments-inner .payment-divider::after{
bottom: unset;
top: 0;
    left: unset;
    right: 0;
    width: 2px;
     height: 30px;
}.user-payments-wrapper .payment-date{
    font-size: 13px!important;
}
@media (max-width: 766.98px) {
    .user-stats-content-inner{
        margin-bottom: 20px;
    }
}
/* stats section */

/* Listing Management */
#user-bottom-header .user-bottom-left nav .breadcrumb-item a{
    font-size: 14px;
    color: rgb(168, 168, 168);
    
} .user-bottom-left nav .breadcrumb-item.active a{
color: rgb(51, 51, 51);
font-weight: 500;
}
#user-bottom-header .user-bottom-left nav{
    --bs-breadcrumb-divider: '>';
    
}#user-bottom-header .user-bottom-inner-wrapper{
    display: flex;

}#user-bottom-header{
   background: #F9FFF0;

}#user-bottom-header .user-bottom-left h5{
    color: #EC7C03;
    font-weight: 600;
}.user-listing-form .button-icon-bottom-left .btn{
    background-color: #EC7C03;
    color: white;
}
.user-listing-form .button-icon-bottom-right .btn{
    background-color:var(--brand-green);
    color: white;
}#user-bottom-header .user-bottom-inner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}#user-bottom-header{
    padding-top: 20px;
}.product-listing-stat-img{
    width: 100%;
    height: 80px;
   
    position: relative;
}
.product-listing-stat-img img{
width: 100%;
}.product-listing-stat-text{
    position: absolute;
    top: 50%;
    left:10%;
    transform: translate(0 , -50%);
    -webkit-transform: translate(0 , -50%);
    -moz-transform: translate(0 , -50%);
    -ms-transform: translate(0 , -50%);
    -o-transform: translate(0 , -50%);
}.product-listing-stat-text p{
    font-size: 18px;
    margin-bottom: 0;
    color: white;
}.product-listing-stat-text span{
    font-size: 13px;
    color: white;
}.product-listing-stat-innner{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
     margin: 30px 0;
}
#product-listing-stat-wrapper ,#listing-top-action ,.user-products-list-wrapper{
    background-color:#F2F2F2;
}#listing-top-action .listing-top-action-left  .dropdown-toggle::after {
margin-left: 20px;
}.listing-top-action-left-inner .dropdown .text-black{
    border: 1px solid rgb(148, 148, 148);
    background-color: transparent;
}#listing-top-action .listing-top-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}.user-products-list-inner-wrapper{
overflow-x: scroll;

 width: 100%;
}
.user-products-list-inner-wrapper::-webkit-scrollbar {
  width: 2px;
 
}
 
.user-products-list-inner-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(175, 175, 175, 0.3);
 
}
 
.user-products-list-inner-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  outline: 1px solid rgb(172, 172, 172);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.user-products-list-inner-wrapper table{
    width: 100%;
  
   
}

.user-products-list-inner-wrapper table thead tr td{
    background-color: white;
   padding: 20px 10px;
 
  font-size: 15px;  
  font-weight: 600;
}
.user-products-list-inner-wrapper table tbody tr td{
    background-color: white;
   padding: 10px 10px;
  
  font-size: 14px;  
  font-weight: 500;
  margin-top: 20px;
}.user-products-list-inner-wrapper table tbody tr td a{
    font-size: 20px;
    color: black;

}.user-products-list-inner-wrapper .list-product-deactive{
    color: #EC7C03;
    font-size: 14px;
}.user-products-list-inner-wrapper .listing-product-detail{
    display: flex;
    align-items: center;

}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-image{
    width: 60PX;
    margin-right: 5px;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-image img{
    width: 100%;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text span{
    font-size: 14px;
     font-weight: 600;
     
}
.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text h5{
font-size: 12px;
font-weight: 500;
margin-bottom: 2px;
}.user-products-list-inner-wrapper .listing-product-detail .listing-product-detail-text p{
    font-size: 9x;
    font-weight: 500;
    
}

@media (max-width: 991.98px) {
   .user-bottom-right .input-group input{
       font-size: 12px;
       width: 120px;
   }#user-bottom-header .user-bottom-inner-wrapper{
       flex-direction: column;
       justify-content: start;
       align-items: flex-start;
   }#listing-top-action .listing-top-action-inner{
        flex-direction: column;
       justify-content: start;
       align-items: flex-start;
   }.listing-top-action-right .mx-4{
margin: 0!important;

   }.listing-top-action-left-inner .mx-4{
       margin-left: 2px!important;
       margin-right: 2px!important;
   }.listing-top-action-left-inner  .btn, .listing-top-action-right-inner .btn{
       font-size: 13px;
       margin-bottom: 20px;

   }
}
@media (max-width: 575.98px) {
  
   #product-listing-stat-wrapper .product-listing-stat-innner{
       margin: 30px;
   }
   #listing-top-action .listing-top-action-inner{
     display: inline;
   }
   .listing-top-action-left-inner  .btn, .listing-top-action-right-inner .btn{
     
 font-size: 12px;
       margin-bottom: 10px;
   }
    .user-bottom-right .input-group input{
       font-size: 12px;
       width: 120px;
       padding: 10px;
   }
}@media (max-width: 460.98px){
    .user-bottom-right .button-icon-bottom-right{
       margin-top: 20px;
   }
}
/* Listing Management */

/* add new list */
.new-product-list-menu li a{
color: black;
text-decoration: none;
}
.new-product-list-menu  li{
    margin-bottom: 5px;
}
.new-product-list-menu .list-group{
    position: relative;
}
.select-new-product-category .btn{
    background-color: orange;
    color: white;
}.select-new-product-category .search-box{
    width: 40%;
}
.new-product-list-menu .active-list::before{ 
    content: ""; display: block; height: 100%; width: 4px; background-color: #EC7C03; position: absolute; border-radius: 0px 0px 2px 2px ; -webkit-border-radius: 0px 0px 2px 2px ; -moz-border-radius: 0px 0px 2px 2px ; -ms-border-radius: 0px 0px 2px 2px ; -o-border-radius: 0px 0px 2px 2px ;
    top: 0;
    left: 0;
}#new-product-list-wrapper{
    background-color:#F2F2F2;
    padding: 30px 0;
}#new-product-list-wrapper .select-new-product-category input{
    width: 20% !important;
}

.main-category-inner , .subcategory-wrapper-inner,.product-list-inner {
    width: 150px;
    height: 600px;
    background-color: white;
    padding:  0px;
    overflow-y: scroll;
    margin-right: 15px;
}#product-main-category .nav-pills .nav-link.active, #product-main-category .nav-pills .show>.nav-link{
    background-color: rgb(242, 253, 247) !important;
    color: black !important;
    width: 100%;
} #product-main-category .nav-pills .nav-link {
    color: black;
    font-weight: 400;
    text-align: left;
    
}.product-list-inner .nav-link{
    width: 100%;
}
.category-sub-content-wrapper .category-sub-rules{
  padding: 15px;
   background-color: #fff;  
}
.category-sub-rules .category-sub-rules-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.category-sub-rules h5{
    font-size: 16px;
    
}
.category-sub-rules .allowed-product{
    color: var(--brand-green);
    font-weight: 600;
}
.category-sub-rules span{
     font-size: 13px;
    
}

.category-sub-rules .not-allowed-product{
    color: red;
    font-weight: 600;
}
.category-sub-rules .category-sub-rule-images{
    display: flex;
    align-items: flex-start;
}
.category-sub-rule-images .category-sub-rule-image-left p ,.category-sub-rule-images .category-sub-rule-image-right p{
    font-size: 13px;
    text-align: center;
}.category-sub-rule-images .category-sub-rule-image-left  ,.category-sub-rule-images .category-sub-rule-image-right{
    margin: 0 20px;
    width: 70px;

}.category-sub-rule-images .category-sub-rule-image-left img  ,.category-sub-rule-images .category-sub-rule-image-right img{
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
}.new-product-list-btn{
display: flex;
justify-content: center;
background-color: #EC7C03;
width: 90px;margin: 0 auto;

}.new-product-list-btn a{
    color: white;
    text-decoration: none;
}


/* tabs */


@media (max-width: 575.98px){
   .main-category-inner , .subcategory-wrapper-inner,.product-list-inner{
       width: 100px;
       margin-right: 5px;
   }
   #product-main-category .nav-pills .nav-link {
       padding: 10px 5px;
       font-size: 12px;
   } 
    
}
/* tabs */





@media (max-width: 1300.98px){
    #new-product-list-wrapper .row .col-2{
        display: none;
    }
     #new-product-list-wrapper .row .col-10{
         width: 100%;
     }
}
@media (max-width: 992.98px){
   
   #new-product-list-wrapper  .category-sub-rules{
        margin: 20px 0;
     }
}
@media (max-width: 575.98px){
   
  #select-new-product-category-main-wrapper ,#select-new-product-category-sub-wrapper{
    position: relative;
    
    background-color: white;
    width: 120px;
    height: 530px;
    margin-right: 20px;
}
.select-new-product-category .search-box{
    width: 100%;
}

}
@media (max-width: 400.98px){
    #select-new-product-category-main-wrapper #select-new-product-category-sub-wrapper {
    
    right: -180px;
   
}

#select-new-product-category-main-wrapper .select-new-product-category-sub #category-sub-inner-wrapper {
   
   
    left: -160px;
   
  
    width: 150px;
   
    
}
}
/* add new list */
/* background: #E7478A; */

/* ,#select-new-product-category-main-wrapper #select-new-product-category-sub-wrapper #category-sub-inner-wrapper */