:root {
    --brand-orange: #EC7C03;
    --brand-green: #81C115;
    --brand-light-orange: #F2994A;
    --brand-yellow: #F2C94C;
    --brand-blue: #2F80ED;
    --brand-red: #EB5757;
    --text-blue: #002448;
    --text-blue-v2: #022444;
    --text-light-blue: #4C6C8D;
    --text-light-grey: #97A6B1;
    --text-dark-grey: #8A8A8A;
    --white: #F6FFE7;
    --green-light: #DCEAC5;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
}

.sect-space {
    margin: 50px 0;
}

.text-generic {
    font-size: 15px;
    color: var(--text-light-blue);
}

.large-heading {
    font-size: 35px;
    font-weight: 600;
}

.section-heading {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-heading::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--brand-orange);
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -0);
    -webkit-transform: translate(-50%, -0);
    -moz-transform: translate(-50%, -0);
    -ms-transform: translate(-50%, -0);
    -o-transform: translate(-50%, -0);
}

.primary-btn-style {
    font-size: 18px;
    padding: 8px 45px;
    background-color: var(--brand-orange);
    color: white;
    margin-top: 20px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.popup-form-label {
    font-size: 14px;
}

.popup-form-input {
    font-weight: 500;
    font-size: 15px;
}


/* header start */

.header-wrapper {
    background-color: var(--text-blue-v2);
    padding: 15px 0;
}

.header-wrapper .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper #nav-btn {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.header-wrapper .logo-wrapper {
    width: 150px;
}

.header-wrapper .logo-wrapper img {
    width: 200px;
}

@media (max-width: 575.98px) {
    .header-wrapper #nav-btn {
        font-size: 10px;
        padding: 5px 10px;
    }
    .header-wrapper .logo-wrapper img {
        width: 120px;
    }
}


/* header end */


/* overlay-form */

#overlay-form,
#pass-form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #544D5E;
    opacity: 0.8;
    z-index: 99;
}

#overlay-form-inner,
#pass-form-inner {
    position: fixed;
    width: 40vw;
    height: 450px;
    opacity: unset;
    background-color: white;
    z-index: 999;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    padding: 40px 30px;
}

#overlay-form-inner,
#overlay-form {
    display: none;
}

#close-icon-wrapper {
    position: absolute;
    top: 4%;
    right: 4%;
}

#close-icon-wrapper .bi-x-lg {
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
}

#login-content,
#reset-password-content {
    display: none;
}

#login-content .form-text {
    color: var(--brand-orange);
    cursor: pointer;
}

#login-content .primary-btn-style,
#reset-password-content .primary-btn-style {
    margin-top: 40px;
    padding: 10px 90px;
}

#login-content small a,
#reset-password-content small a {
    color: var(--brand-orange);
}

#reset-password-content .text-generic {
    margin: 0 30px;
    font-size: 14px;
}

#change-password-content #btn-cancel {
    background-color: white;
    color: rgb(172, 172, 172);
    border: 1px solid rgb(172, 172, 172);
}

.btn-pair {
    margin: 30px;
}

@media (max-width: 1199.98px) {
    #overlay-form-inner,
    #pass-form-inner {
        width: 60vw;
    }
}

@media (max-width: 767.98px) {
    #overlay-form-inner,
    #pass-form-inner {
        width: 70vw;
    }
    #reset-password-content .text-generic {
        margin: 0 20px;
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {
    #overlay-form-inner,
    #pass-form-inner {
        width: 95vw;
    }
    #overlay-form-inner,
    #pass-form-inner {
        top: 12%;
    }
    .btn-pair {
        margin: 10px;
    }
    #overlay-form-inner,
    #pass-form-inner {
        padding: 35px 15px;
    }
    #overlay-form-wrapper .large-heading {
        font-size: 18px;
        margin-bottom: 30px;
    }
    #change-password-content #btn-cancel,
    #change-password-content .primary-btn-style {
        padding: 8px 20px;
    }
    #reset-password-content .text-generic {
        margin: 0;
        font-size: 12px;
    }
    #login-content .popup-form-input {
        font-size: 12px;
    }
}


/* overlay-form */


/* hero */

.hero-wrapper {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
}

.hero-inner {
    width: 100%;
    height: 550px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.hero-inner img {
    width: 100%;
}

.hero-content {
    background-color: var(--green-light);
    overflow: hidden;
}

.hero-wrapper .container .row {
    justify-content: space-around;
    align-items: flex-start;
}

.hero-wrapper .hero-content-image {
    width: 35vw;
    margin-left: auto;
    overflow: hidden;
}

.hero-content-image img {
    width: 100%;
}

.hero-content-action {
    padding-top: 100px;
}

.hero-content-action h1 span {
    color: var(--brand-green);
}

.hero-content-action a {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 9;
}

@media (max-width: 767.98px) {
    .hero-inner {
        display: none;
    }
    .hero-content-action .large-heading {
        font-size: 30px;
        text-align: center;
    }
    .hero-content-action .text-generic {
        text-align: center;
    }
    .hero-content-action {
        margin-top: -80px;
    }
    .hero-wrapper .hero-content-image {
        margin: 0 auto;
    }
    .hero-wrapper .hero-content-action .primary-btn-style {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .hero-wrapper .hero-content {
        padding-bottom: 40px;
    }
    .hero-wrapper {
        height: 400px;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .hero-content-action .large-heading {
        font-size: 24px;
    }
    .hero-content-action .primary-btn-style {
        padding: 5px 20px;
        margin-top: 5px;
    }
    .hero-wrapper .container .row {
        justify-content: space-around;
        align-items: flex-start;
    }
    .hero-content-action {
        padding-top: 40px;
    }
    .hero-inner {
        height: 320px;
    }
    .hero-wrapper {
        height: 320px;
    }
}

@media (min-width: 992.98px) and (max-width: 1199.98px) {
    .hero-content-action .large-heading {
        font-size: 28px;
    }
    .hero-content-action .primary-btn-style {
        padding: 10px 20px;
        margin-top: 5px;
    }
    .hero-inner {
        height: 400px;
    }
    .hero-wrapper {
        height: 400px;
    }
}


/* hero */


/* about cta */

.about-cta-wrapper {
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}

.about-cta-wrapper .about-cta-image {
    height: 500px;
    width: 70vw;
    box-sizing: content-box;
    overflow: hidden;
}

.about-cta-wrapper .about-cta-image img {
    width: 100%;
    border-radius: 0 40px 40px 0;
    -webkit-border-radius: 0 40px 40px 0;
    -moz-border-radius: 0 40px 40px 0;
    -ms-border-radius: 0 40px 40px 0;
    -o-border-radius: 0 40px 40px 0;
}

.about-cta-image .about-cta-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.about-cta-content .row {
    align-items: center;
}

.about-cta-content .about-cta-heading .large-heading {
    color: white;
    width: 55%;
    font-weight: 700;
}

.about-cta-content .about-form-wrapper {
    background-color: white;
    padding: 40px 20px;
    box-shadow: 1px 3px 5px var(--text-light-grey);
}

.about-cta-content .about-form-wrapper .large-heading {
    font-size: 25px;
}

.about-cta-content .about-form-wrapper .text-generic {
    font-size: 15px;
}

.about-form-wrapper .about-form {
    margin: 60px 0;
}

.about-cta-content .about-form-wrapper .form-input {
    padding: 10px 25px;
    background-color: var(--white);
    width: 90%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

.about-form-wrapper .form-input label {
    margin-right: 10px;
}

.about-form-wrapper .form-input input {
    border: none;
    background-color: transparent;
}

.about-form-wrapper .form-input input:focus {
    outline: unset;
}

@media (max-width: 767.98px) {
    .about-cta-wrapper {
        height: 500px;
        margin-bottom: 0;
    }
    .about-cta-wrapper .about-cta-image {
        height: 150vw;
        width: 100%;
    }
    .about-cta-wrapper .about-cta-image img {
        width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }
    .about-cta-image .about-cta-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about-cta-content .about-cta-heading .large-heading,
    .about-cta-content .about-form-wrapper .large-heading {
        text-align: center !important;
        width: 100%;
        font-size: 23px;
    }
    .about-cta-content .about-form-wrapper {
        padding: 20px 10px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .about-form-wrapper .about-form {
        margin: 20px 0;
    }
    .about-cta-content .about-form-wrapper .form-input {
        padding: 10px;
    }
    .about-cta-content .about-form-wrapper .form-input input {
        font-size: 13px;
    }
    .about-cta-content .about-form-wrapper .primary-btn-style {
        font-size: 15px;
    }
}

@media(min-width: 768.98px) and (max-width: 991.98px) {
    .about-cta-content .about-cta-heading .large-heading {
        width: 70%;
    }
    .about-cta-content .about-form-wrapper {
        padding: 20px 10px;
        margin: 0;
    }
    .about-cta-content .about-form-wrapper .form-input {
        padding: 10px;
    }
    .about-cta-content .about-form-wrapper .form-input input {
        font-size: 13px;
    }
    .about-cta-content .about-form-wrapper .primary-btn-style {
        font-size: 15px;
    }
}


/* about cta */


/* <!-- service section end --> */

.services-content-wrapper {
    background-color: var(--white);
    padding: 120px 0 0 0;
}

.services-content-wrapper .service-box .box-image {
    width: 70px;
    margin: 10px auto;
}

.services-content-wrapper .service-box .service-content .box-image img {
    width: 100%;
    margin: 0 auto;
}

.services-content-wrapper .service-box .large-heading {
    font-size: 18px;
    text-align: center;
}

.services-content-wrapper .service-box .text-generic {
    font-size: 14px;
}

.services-content-wrapper .service-box {
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 5px transparent;
    display: flex;
    justify-content: center;
}

.services-content-wrapper .service-box:hover {
    box-shadow: 4px 4px 5px rgb(219, 219, 219);
}

.services-content-wrapper .service-box:hover .large-heading {
    color: var(--brand-green);
}

@media (max-width: 575.98px) {
    .services-content-wrapper .service-box {
        margin: 30px;
    }
    .services-content-wrapper {
        padding-top: 20px;
    }
}


/* app section */

.section-app-wrapper .row .mobile-image {
    width: 300px;
    margin-left: auto;
}

.section-app-wrapper .section-app-left .large-heading,
.section-app-wrapper .section-app-left .text-generic {
    width: 400px;
}

.section-app-wrapper {
    padding-top: 100px;
}

.section-app-wrapper .row {
    align-items: center;
}

.section-app-wrapper .row a {
    text-decoration: none;
}

.section-app-wrapper .row .qr-image {
    width: 200px;
}

.section-app-wrapper .row .store-image img,
.section-app-wrapper .row .qr-image img {
    width: 100%;
}

.section-app-wrapper .row .mobile-image img {
    width: 100%;
}

@media (max-width: 575.98px) {
    .section-app-wrapper .section-app-left .large-heading {
        width: 300px;
        font-size: 20px;
    }
    .section-app-wrapper .section-app-left .text-generic {
        width: 270px;
    }
    .section-app-wrapper .row .qr-image {
        width: 200px;
    }
}

@media (max-width: 767.98px) {
    .section-app-wrapper .row .mobile-image,
    .section-app-wrapper .row .store-image,
    .section-app-wrapper .row .qr-image,
    .section-app-wrapper .row a {
        margin: 0 auto;
    }
    .section-app-wrapper .row a {
        display: block;
    }
    .section-app-wrapper .row .qr-image,
    .section-app-wrapper .row .store-image {
        width: 200px;
    }
    .section-app-wrapper .row .qr-image img {
        margin-left: 15px;
    }
    .section-app-wrapper .section-app-left .large-heading,
    .section-app-wrapper .section-app-left .text-generic {
        text-align: center;
        width: 100%;
    }
}


/*<!-- service section end --> */


/* review section */

.review-inner-section {
    margin: 80px 0;
}

.review-inner-section .owl-carousel .item {
    margin: 10px;
}

.review-inner-section .review-content {
    padding: 10px;
    margin-bottom: 30px;
    border-left: 4px solid var(--brand-blue);
    box-shadow: 3px 3px 3px rgb(209, 209, 209);
    position: relative;
}

.review-inner-section .review-content .card {
    border: none;
}

.quote-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
}

.quote-image img {
    width: 100%;
}

.review-inner-section .review-content .card .card-title {
    font-weight: 700;
    font-size: 18px;
}

.review-inner-section .review-content .card .card-text {
    font-size: 14px;
}

.review-inner-section .review-content .card .text-muted {
    font-size: 13px;
}

@media (max-width: 767.98px) {
    .review-inner-section .review-content {
        padding: 30px;
    }
    .quote-image {
        right: 30px;
        bottom: 30px;
    }
    .owl-carousel .review-content .review-image {
        width: 180px;
    }
    .owl-carousel .review-content .review-image img {
        width: 100%;
    }
    .review-inner-section .owl-carousel .item {
        margin: 5px;
    }
}


/* review section */


/* footer */

.footer-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.footer-wrapper .footer-image {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0%;
    overflow: hidden;
}

.footer-wrapper .footer-image img {
    width: 100%;
    height: 200px;
}

.footer-content {
    background-color: var(--text-blue-v2);
    overflow: hidden;
    padding: 50px 0 50px 0;
}

.footer-wrapper .logo-wrapper {
    width: 150px;
}

.footer-wrapper .logo-wrapper img {
    width: 200px;
}

.footer-wrapper .logo-content-wrapper .text-generic {
    margin: 10px 0;
    font-size: 14px;
}

.footer-wrapper .logo-content-wrapper span {
    font-weight: 500;
    color: white;
}

.footer-wrapper .footer-link-wrapper .large-heading {
    font-size: 20px;
    color: var(--white);
}

.footer-wrapper .footer-link-wrapper,
.footer-link {
    text-decoration: none;
    color: var(--white);
    margin: 10px 0;
    font-size: 12px;
}

.footer-wrapper .footer-link-wrapper,
.footer-link:hover {
    color: white;
}

.footer-wrapper .footer-link-wrapper,
.footer-link .large-heading {
    font-size: 13px !important;
    font-weight: 500;
}

.copyright-wrapper .text-generic {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 1199.98px) {
    .footer-wrapper .footer-link-wrapper .large-heading {
        font-size: 16px;
    }
}

@media (max-width: 991.98px) {
    .footer-wrapper .footer-link-wrapper .large-heading {
        font-size: 14px;
    }
    .footer-wrapper .footer-image {
        display: none;
    }
    .footer-wrapper .footer-link-wrapper .large-heading {
        font-size: 20px;
        color: var(--white);
    }
    .footer-wrapper .footer-link-wrapper,
    .footer-link {
        font-size: 15px;
    }
    .footer-wrapper .footer-link-wrapper,
    .footer-link .large-heading {
        font-size: 15px !important;
    }
}

@media (max-width: 767.98px) {
    .footer-wrapper {
        height: 590px;
    }
    .footer-content .row .col-md-2 {
        width: 50%;
        padding-left: 30px;
    }
    .footer-content .logo-content-wrapper {
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    .footer-wrapper {
        height: 550px;
    }
    .footer-wrapper .footer-link-wrapper,
    .footer-link,
    .footer-wrapper .footer-link-wrapper,
    .footer-link .large-heading {
        font-size: 12px!important;
    }
    .footer-wrapper .footer-link-wrapper .large-heading {
        font-size: 15px;
    }
}


/* footer */


/* register page */

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out;
    -ms-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 440px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
    color: black;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #d33f8d;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #000;
}

form .page .btns button {
    margin-top: -20px!important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progressbar {
    display: flex;
    margin: 30px 0;
    user-select: none;
    background-color: unset;
}

.container .progressbar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progressbar .step p {
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

.progressbar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background-color: white;
}

.progressbar .step .bullet.active {
    border-color: var(--brand-green);
    background: var(--brand-green);
}

.progressbar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progressbar .step .bullet.active span {
    display: none;
}

.progressbar .step .bullet:before,
.progressbar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 10px;
    right: -122px;
    height: 3px;
    width: 120px;
    background: #ffffff;
}

.progressbar .step .bullet.active:after {
    background: var(--brand-green);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progressbar .step:last-child .bullet:before,
.progressbar .step:last-child .bullet:after {
    display: none;
}

.progressbar .step p.active {
    color: #ffffff;
    transition: 0.2s linear;
}

.progressbar .step .check {
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progressbar .step .check.active {
    display: block;
    color: #fff;
}

.register-wrapper .register-inner-wrapper {
    position: relative;
}

.mutiform-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid var(--brand-orange);
    position: absolute;
    width: 500px;
    top: -3%;
    right: 0;
    box-shadow: 3px 3px 5px rgb(189, 189, 189);
    z-index: 9;
}

#register-basic {
    height: 550px;
}

.register-wrapper {
    background-color: var(--text-blue-v2);
    color: white;
    height: 500px;
    margin: 30px 0 150px 0;
}

.mutiform-wrapper .page {
    padding: 10px 20px;
    color: black;
}

.register-label {
    color: black;
}

#register-basic .form-input {
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#register-basic .form-input span {
    margin-right: 10px;
    color: black;
}

#register-basic .form-input input {
    border: none;
    background-color: transparent;
}

#register-basic .form-input input:focus,
#register-basic .input-otp .opt-digit:focus {
    outline: unset;
}

#register-basic .btn-otp .primary-btn-style {
    padding: 10px 25px;
    font-size: 15px;
    margin: 0;
}

#register-basic .form-label {
    margin: 10px 0;
}

.btn-otp {
    display: flex;
    justify-content: end;
}

#register-basic .input-otp {
    display: flex;
    align-items: center;
}

#register-basic .input-otp .opt-digit {
    width: 50px;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(221, 221, 221);
}

#register-basic .input-otp span {
    color: black;
    margin: 0 10px;
}

#register-basic .term-use label {
    font-size: 12px;
}

.term-use label a {
    color: var(--brand-orange);
    text-decoration: none;
}

#register-basic .signup-btn {
    display: flex;
    justify-content: center;
}

#register-basic .signup-btn .primary-btn-style {
    padding: 10px 80px;
}

#location-guide,
#gst-guide,
#bank-guide {
    display: none;
}

.signup-imgages {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.signup-imgages .guide-iamge p {
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
    font-size: 14px;
}

#address-details .signup-btn,
#business-detail .signup-btn,
#bank-details .signup-btn {
    display: flex;
    justify-content: center;
}

#address-details .signup-btn .primary-btn-style {
    padding: 10px 80px;
}

#business-detail .form-check-label {
    font-size: 14px;
}

.gst-detail-wrapper .row {
    align-items: center;
    justify-content: space-between;
}

.gst-detail-wrapper p {
    margin: 5px 0;
    font-size: 13px;
    color: var(--text-light-grey);
}

.gst-detail-wrapper span {
    margin: 5px 0;
    font-size: 13px;
    color: black;
    font-weight: 600;
}

#custom-btn-certifcate {
    padding: 10px;
    background-color: var(--white);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}

#custom-btn-certifcate p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(82, 82, 82);
    margin: 0 0 5PX 0;
}

#custom-btn-certifcate span {
    font-size: 12PX;
    color: grey;
}

#sell-in-gst,
#bank-account-exist {
    display: none;
}

#sell-in-gst .large-heading,
#bank-account-exist .large-heading {
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

@media (max-width: 991.98px) {
    .register-wrapper .register-inner-wrapper {
        position: unset;
    }
    .mutiform-wrapper {
        position: relative;
        margin-top: 20px;
        padding: 20px 0;
        width: unset;
    }
    .register-wrapper {
        height: unset;
        padding-bottom: 40px;
        margin: 20px 0;
    }
    .progressbar .step .bullet:before,
    .progressbar .step .bullet:after {
        bottom: 10px;
        right: -219px;
        height: 3px;
        width: 221px;
    }
}

@media (max-width: 860.98px) {
    .progressbar .step .bullet:before,
    .progressbar .step .bullet:after {
        right: -161px;
        width: 173px;
    }
}

@media (max-width: 575.98px) {
    #register-basic .form-control {
        font-size: 14px;
    }
    #register-basic .form-input {
        font-size: 14px;
        padding: 5px;
    }
    #register-basic .btn-otp .primary-btn-style {
        font-size: 14px;
        padding: 10px 15px;
    }
    #register-basic .form-input span {
        margin-right: unset;
    }
    .progressbar .step .bullet:before,
    .progressbar .step .bullet:after {
        right: -117px;
        width: 131px;
    }
}

@media (max-width: 410.98px) {
    #register-basic .form-control {
        font-size: 12px;
    }
    #register-basic .form-input {
        font-size: 12px;
        padding: 2px;
    }
    #register-basic .btn-otp .primary-btn-style {
        font-size: 12px;
        padding: 5px 10px;
    }
    .mutiform-wrapper .page {
        padding: 20px 10px;
    }
    
    .progressbar .step .bullet:before,
    .progressbar .step .bullet:after {
        right: -78px;
        width: 81px;
    }
    #register-basic .input-otp .opt-digit {
        width: 40px;
        padding: 3px;
        border: 1px solid rgb(221, 221, 221);
    }
    .register-label {
        font-size: 14px;
    }
    #certifcate-file,
    #signature-file {
        font-size: 10px;
    }
}


/* register page */


/* // `xs` returns only a ruleset and no media query
// ... { ... }
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    ...
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    ...
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    ...
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    ...
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    ...
} */